.credentials {
  display: flex;
  flex-direction: column;
}

.warning {
  color: red;
  font-style: italic;
}

.captcha-container {
  display: flex;
  align-items: center;
  img {
    width: 150px;
  }
}
