<div>
  <h2>Restore password</h2>
  <h3 class="warning">Fill in data carefully!</h3>
  <div>
    <label>Email</label>
    <input [(ngModel)]="email"
           required
           type="email"
           pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,3}$"
           #emailInput="ngModel">
    <div *ngIf="emailInput.errors && emailInput.errors.pattern">
      Wrong email format</div>
  </div>
  <div class="captcha-container">
    <img src="../../../assets/images/captcha.png">
    <input placeholder="Enter result here"
           [(ngModel)]="captcha"
           required
           #captchaInput="ngModel">
  </div>
  <button (click)="showCredentials(emailInput, captchaInput)"
          [disabled]="!emailInput.valid">
    Confirm</button>
</div>
<app-credentials *ngIf="dataShown"></app-credentials>
